body
{
	
	//background-attachement:fixed;
	background-repeat:no-repeat;
	background-position:center;


}

#logo
{
	width:10%;
	heigth:0.5%;
	margin-left:50%;
}

aside
{
	display:inline-block;
	border:5px solid red;
}

section
{
	border:5px solid red;
}

footer
{
	border:5px solid red;
}




